#menu ul{
  padding-top: 64px;
  list-style: none;
}
#menu li{
padding-top: 64px;
  display: flex;
}
body{
	height: 100%;
	width: 100%;
}
.container {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
}
.wololo {
	padding-left: 32px;
	padding-top: 8px;
}
.searchbar {
	background: #fff;
	display: flex;
	border: 1px solid #dfe1e5;
	box-shadow: none;
	border-radius: 24px;
	z-index: 3;
	height: 44px;
	width: 32vw;
	display: block;
}
#horizontal ul{
list-style: none;
}
#horizontal li{
	display: inline-flex
}
.inputsearch{
	outline: none;
	border-width:0px;
	border:none;
	font-size: 24px
}
select:focus,
textarea:focus,
input:focus{
	border-width:0px;
	border:none;
	outline-width: 0;
}